* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: linear-gradient(rgb(37, 2, 73), rgb(13, 10, 10));
    padding-left: 100px;
    padding-right: 100px;
  }
  

/* Slideshow container */
.slideshow-container {
    width: 70%;
    height: 600px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

/* Full-width images */
.mySlides {
    display: none;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: rgb(0, 0, 0);
    background-color: white;
    font-weight: bolder;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    display: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}


/* Caption text */
/* .text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
} */

/* The dots/bullets/indicators */
/* .dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;

border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
} */

/* Fading animation */



/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px; /* Adjust as needed */
    background-color: #7b7b7b;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #ffffff;
    color: rgb(49, 49, 49);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}

















  
  
  .container {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.marq{
    background-color: rgb(3, 3, 3);
    color:white;
}
.item-container {
    position: relative;
    margin: 24px;
    width: 400px;
    height: 400px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.img-container,
.body-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body-container {
    position: relative;
}

.overlay {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgba(1, 32, 53, 0.6);
    opacity: 0;
    transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
    opacity: 1;
    height: 150px;
}

.event-info {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: white;
}

.title,
.price {
    color: white;
    font-size: 1;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 12px;
}

.info {
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.separator {
    width: 20%;
    height: 6px;
    background-color: #17537a;
    margin-bottom: 16px;
}

.additional-info {
    border-top: 1px solid #bbb;
    margin-top: 12px;
    padding: 28px;
    padding-bottom: 0;
}

.additional-info .info {
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
}

.info i {
    color: #18537a;
    font-size: 1.1em;
    margin-right: 4px;
}

.info span {
    color: #18537a;
    font-weight: bolder;
}

.action {
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 0.4s, top 0.4s;
}

.item-container:hover .action {
    top: 50px;
}

.action:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

h1 {
    text-align: center;
    color: white;
  }

  .container {
    display: flex;
}

.row {
    flex: 1;
}
.event-info .title{
    color: white;
}

.marq { 
    font-size: 20px;
    padding-top: 15px; 
    padding-bottom: 15px; 
}

.image-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to multiple rows */
    justify-content: space-between; /* Distribute images evenly */
    width: 100%; /* Ensure container fills available width */
  }
  
  .image-container img {
    width: 50%; /* Set image width to half the container width */
    margin: 5px; /* Add spacing between images (optional) */
  }